@page "/SalaryCalculator"
@using Salary_Calculator.Data
@using Salary_Calculator.Pages
<h3>Salary Calculator</h3>
<input placeholder="Please type in your name" type="text" name="EmployeeName" @bind="@CalculatorDAO.EmployeeName"/>
<button type="submit" @onclick="Sumbit"  name="shit">Calculate</button> <p></p>
<output>Salary After Taxes: @SalaryCalculator.Salary</output> <p></p>
<p>Status: @CalculatorDAO.CalculateStatus</p>

@code {
    private static void Sumbit()
    {
        if (CalculatorDAO.EmployeeName == null)
        {
            CalculatorDAO.status = "Name is required";
        }
        else
        {
            CalculatorDAO.CalculateStatus = "Employee found";
            CalculatorDAO.Statement = "SELECT * FROM dbo.Employees WHERE Name= '" +CalculatorDAO.EmployeeName+ "'";
            CalculatorDAO.READ();
            SalaryCalculator.Calculate(SalaryCalculator.Salary);
        }       
    }
}
