@page "/RegisterEmployee"
@using Salary_Calculator.Data
@using Salary_Calculator.Pages
<h3>Register Employee</h3>
<h6>Type in the Employee information as following:</h6>
<input placeholder="Please type in your name"type="text" name="EmployeeName" @bind="@CalculatorDAO.EmployeeName"/> <input placeholder="Please type in your salary" type="number" name="SalaryInput"  @bind="@SalaryCalculator.Salary"/>
<button type="submit" @onclick = "Sumbit">Register</button>
<p>Status: @CalculatorDAO.RegisterStatus</p>

@code {
    private static void Sumbit()
    {
        if (CalculatorDAO.EmployeeName == null || SalaryCalculator.Salary == null)
        {
            CalculatorDAO.status = "Name and Salary are required";
        }
        else
        {
            CalculatorDAO.RegisterStatus = "Successfuly added";
            CalculatorDAO.Statement = @"INSERT INTO dbo.Employees (Name, Salary) VALUES ('"+CalculatorDAO.EmployeeName+"','"+SalaryCalculator.Salary+"');";
            CalculatorDAO.ADD();            
        }
    }
}
